.pagination__container {
  display: flex;
  gap: 3px;
}

.pagination__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-btn_disabled,
.pagination-btn_disabled:hover,
.pagination-btn_disabled:active {
  cursor: default;
}
