.cards__wrapper {
  padding-top: 4rem;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.cards__not-found {
  position: relative;
  left: 45%;
  font-size: 3rem;
}

.cards__loader {
  position: relative;
  left: 45%;
  font-size: 3rem;
}
