.cards__wrapper {
  padding-top: 4rem;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 1032px) {
  .cards__wrapper {
    align-items: center;
    justify-content: center;
  }
}

.cards__not-found {
  position: relative;
  max-width: 300px;
  padding-top: 8rem;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

.cards__loader {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
  padding-top: 8rem;
  font-size: 3rem;
  color: black;
  font-weight: bold;
}
